body{ background-color: brown;}
div{   background-color: bisque;}
h1{ background-color: aqua; color: white; text-align: center;}
img{width: 150px; text-align: center;}
.w{ background-color: white; border-radius: 5px; border: 2px solid black; width: 250px;}
p{ background-color: black ;border-radius: 20px; color: white; text-align: center;}
h3{ color: black ; text-align: center;}

.Q{ background-color: white; border-radius: 5px; border: 2px solid black; width: 250px;  }
.A{  background-color: white; border-radius: 5px; border: 2px solid black; width: 250px; }
w,Q,A{ text-align: center;}